# Supabase Configuration
# Obtenha essas informações em: https://supabase.com/dashboard/project/SEU_PROJETO/settings/api
NEXT_PUBLIC_SUPABASE_URL=your-supabase-url-here
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-supabase-anon-key-here
SUPABASE_SERVICE_ROLE_KEY=your-supabase-service-role-key-here

# Meta API Configuration
META_APP_ACCESS_TOKEN=EAA8wZA3tSZCuABQzeiINKCfQ2ZB05v88FDS9FyphTlFwYEdBC11lcNMVxcI0LD1qxx6lcomFpgRymQJi1QazjIlZCnE7x3bNu4KIDhsrOrB2BPDSXYOPn9xXuZAn8sgZAfXwZBlSugBgccZCHDyB3yHcJmhqXEvZBHyZA2WiGXPZAUMpHGPCkq0ZCnc5RJlG5YOmvN7M
